.website {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.website-header {
}

.input-bg {
  position: absolute;
  height: auto;
  margin-bottom:30px;
  width: 1200px;
  image-rendering:pixelated;
  object-fit: contain;
  z-index: 0;
}

.input-container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.exchange-button {
  flex: 1;
  font-size: 2em;
  margin: 0 60px;
  padding: 25px;
  border: none;
  border-radius: 12px;
  background: transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.exchange-button:hover {
  background-color: rgba(230, 230, 230, 0.95);
}


