

.website {
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Push content to bottom */
  align-items: center;
  position: relative;
  padding-top: 0px; /* Reserve space for fixed header */
}

.header h2 {
  text-align: center;
  width: 100%;
  color:#161f6e;
  font-size:40px;
}

.center-text {
  margin-top:100px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

h4 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -15px;
}

.header {
  position: fixed; /* Fix header at the top */
  top: 0;
  left: 0;
  right: 0;
  background-color: #8395d3;
  color: black;
  padding: 20px 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; /* Define height to reserve space */
}

.input-bg {
  position: relative; /* Changed from absolute */
  width: 1200px;
  image-rendering: pixelated;
  object-fit: contain;
  z-index: 0;
  margin-bottom: -270px;
}

.exchange-button {
  position: relative;
  z-index: 10; /* bring above image if needed */
  background-color: white; /* or transparent */
  padding: 10px; /* add some padding */
  margin-top: -50px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; /* responsive */
}
