/* App.css */

.website {
  height: 100vh;
  background-image: url('sunset.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.website-header {
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.exchange-button {
  flex: 1;
  font-size: 2em;
  margin: 0 20px;
  padding: 30px;
  border: none;
  border-radius: 12px;
  background: transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.exchange-button:hover {
  background-color: rgba(230, 230, 230, 0.95);
}

